button {
    all: unset;
    font: var(--text-md);
    width: 11rem;
    height: 3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &.btn-primary {
        color: var(--text-heading);
        background-color: var(--brand-dark);

        &:hover,
        &:focus {
            background-color: var(--brand-light);
        }
    }

}